<h1>Change le message</h1>


<%= form_with(model: @gossip, local: true) do |form| %>



 <p>
   <%= form.label :content %><br />
   <%= form.text_area :content %>
 </p>

 <p>
   <%= form.submit %>
</p>
  <p>
   <%= link_to 'Supprimer le ragot', @gossip, method: :delete %>
 </p>
 
 

<% end %>