 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul>
			<% if user_signed_in? %>
			    <li>
	  				<%= link_to "Liste des ragots", gossips_path %>
	  			</li>
	  			 <li>
	  				<%= link_to "Créer un ragot", new_gossip_path %>
	  			</li>
	  			<li>
	  				<%= link_to "Mon compte", edit_user_registration_path %>
	  			</li>
	  			<li>
	  				<%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
	  			</li>
	 		<%else%>
	   			<li>
	     			<%= link_to "Connexion", new_user_session_path %>
	   			</li>
	     			<%= link_to "Créer un compte", new_user_registration_path %>
	   			</li>



	 		<% end %>
		 </ul>
        </nav>
      </div>
    </header>